__pycache__
.ipynb_checkpoints
*.PNG
*.npy
/reconstruction/UNet_model.pb
/MNIST_one_vs_all/saved_models/
/MNIST_draw_line_anomalies/saved_models/
/visualisation/OC_VAE_ls=4x4x8
/visualisation/OC_VAE_ls=4x4x8_pretrained
/visualisation/OC_VAE_ls=4x4x8_pretrained_1
/visualisation/VAE_ls=4x4x8
/CIFAR_one_vs_all/dataset
